@use '@/styles/colors' as *;
@use '@/styles/variables' as *;

.barkChronicles {
  max-width: 1440px;
  margin: 0 auto;
  padding: 70px 20px 200px 20px;
}

.title {
  text-align: center;
  font-size: $fs70;
}

.subtitle {
  text-align: center;
  font-weight: $fw400;
  font-size: $fs40;
  font-family: var(--font-tangerine);
  margin-top: 25px;
}

.description {
  font-size: $fs36;
  margin-top: 35px;
}

.image {
  width: 100%;
  height: auto;
  max-width: 610px;
  border: 5px solid $rosey_cheek;
}

.block {
  display: flex;
  gap: 80px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 80px;
}

.text {
  font-weight: $fw500;
  font-size: $fs30;
  line-height: 170%;
}

@media (max-width: 1120px) {
  .barkChronicles {
    padding: 50px 20px;
  }

  .block {
    flex-direction: column;
    margin-top: 50px;
    gap: 50px;

    &:nth-child(2n - 1) {
      flex-direction: column-reverse;
    }
  }
}

@media (max-width: 769px) {
  .title {
    font-size: $fs36;
  }

  .description,
  .text {
    font-size: $fs22;
  }
}
