// font-weight
$fw400: 400;
$fw500: 500;
$fw700: 700;

// font-size
$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs22: 22px;
$fs26: 26px;
$fs30: 30px;
$fs32: 32px;
$fs35: 35px;
$fs36: 36px;
$fs40: 40px;
$fs63: 63px;
$fs64: 64px;
$fs66: 66px;
$fs70: 70px;

// breakpoints
// TODO:
// $mobile: 480px;
// $tablet: 768px;
// $desktopS: 992px;
// $desktop: 1200px;
// $desktopFull: 1320px;
