@use '@/styles/normalize';
@use '@/styles/colors' as *;
@use '@/styles/variables' as *;

:root {
  --font-cormorant: 'Cormorant', sans-serif;
  --font-tangerine: 'Tangerine', sans-serif;
  font-family: var(--font-cormorant);
  font-weight: $fw700;
  font-size: $fs18;
  color: $charcoal;
}

a {
  text-decoration: none;
  color: $charcoal;
}

li {
  list-style-type: none;
}

button {
  background-color: transparent;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
hr {
  margin: 0;
  padding: 0;
}
