@use '@/styles/variables' as *;
@use '@/styles/colors' as *;

.infoDog {
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 20px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: $fs70;
}

.dog {
  margin-top: 100px;
}

.notFound {
  text-align: center;
  font-size: $fs40;
}

.notFoundCode {
  font-size: $fs70;
  display: block;
  color: $bronzed_rose;
}

.image {
  width: 100%;
  height: auto;
  max-width: 750px;
}

.imageWrapper {
  display: block;
  background-color: $cream;
  padding: 75px 0;
  margin: 0 auto 100px auto;
  text-align: center;
}

.dogName {
  font-weight: $fw700;
  font-size: $fs64;
  color: $black;
  margin-top: 25px;
  padding: 0 20px;
}

.label {
  font-weight: $fw400;
  font-size: $fs40;
  font-family: var(--font-tangerine);
  margin-bottom: 12px;
}

.inputWrapper {
  margin: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.param {
  font-size: $fs40;
  margin-bottom: 24px;

  &:first-of-type {
    color: $black;
  }
}

@media (max-width: $tablet) {
  .infoDog {
    padding: 50px 20px;
  }

  .title {
    font-size: $fs40;
  }

  .param {
    font-size: $fs26;
  }

  .imageWrapper {
    margin-bottom: 25px;
    padding: 25px 0;
  }

  .dogName {
    font-size: $fs40;
  }
}
